@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Roboto&family=Roboto+Serif:opsz,wght@8..144,200&family=Ubuntu&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: lightgrey;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

header{
    text-align: center;
    margin-top: 0.5rem;
}

#title{
    font-family: 'Kanit', sans-serif;
    padding: 1rem;
}

#player-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 37rem;
}

.bars{
    background-color: lightskyblue;
    padding: 1rem;
}

#left-nav{
    width: 26%;
    padding-top: 2rem;
    border-radius: 0px 10px 10px 0px;
}

#left-nav #dropdown-menu select{
    border: none;
    padding: .5rem;
    margin-left: .5rem;
    background-color: #3c76c6;
    border-radius: .4rem;
}

#songs ul{
    padding: 0;
}

.song-list li{
    list-style: none;
    background-color: #4384df;
    width: 65%;
    padding: .6rem;
    color: whitesmoke;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.song-list li:hover{
    background: transparent;
    cursor: pointer;
}

#mid-nav{
    width: 36%;
    border-radius: 5px 10px;
    box-shadow: darkmagenta -2px -2px 5px 0px;
}

#song-details{
    background-color: #4384df;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: -3px -3px 10px 0px;
}

#song-details p{
    font-size: 25px;
    margin: 0;
    margin-bottom: 0.5rem;
    font-weight: 700;
}

#song-controls{
    display: flex;
    margin: 2rem 0;
    align-items: center;
    justify-content: center;
}

#song-controls audio{
    width: 90%;
}

#audio-controller{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#btn-controls{
    display: flex;
    align-items: center;
    justify-content: center;
}

#btn-controls button{
    margin: 1rem 2rem;
}

.btn{
    border: none;
    width: 6rem;
    height: 3rem;
    background-color: purple;
    color: white;
    border-radius: 1rem;
    cursor: pointer;
}

.center{
    margin: auto;
    width: 5%;
}

#song-details img{
    width: 100%;
    height: 100%;
}

#right-nav{
    width: 30%;
    border-radius: 10px 0 0 10px;
}

#playlist{
    display: flex;
    align-items: center;
}

#playlist input{
    height: 2.5rem;
    width: 12rem;
    padding: 0.3rem;
    font-size: 17px;
    margin-right: 15px;
    border: 2px solid black;
    background: transparent;
}

#playlist-song{
    padding: 0;
}

#contains-playlist{
    width: 70%;
    height: 85%;
    margin-top: 1rem;
    border-radius: 5px 10px;
    box-shadow: darkmagenta -2px -2px 5px 0px;
}